**data/*
reporting.py
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.sqlite3
*.db
*.log
*.csv
*.fit
*.zip
*.tar
*.tar.gz
*.egg-info/
env/
venv/   
__pycache__/etl.cpython-38.pyc
.DS_Store
/.vscode
/__pycache__
__pycache__/etl.cpython-38.pyc
